<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.reserve.dao.ReserveDaoInterface">

	<!-- select 결과 메핑을 위한 resultMap 설정 -->
	<resultMap id="resultListData"
		type="com.project.reserve.domain.ListData">
		<id property="idx" column="idx" />
		<result property="tidx" column="tidx" />
		<result property="midx" column="midx" />
		<result property="cidx" column="cidx" />
		<result property="cDate" column="cDate" />
		<result property="cTime" column="cTime" />
		<result property="runningTime" column="runningTime" />
		<result property="totalTime" column="totalTime" />
	</resultMap>

	<!-- 극장 리스트 -->
	<select id="cinemaList" resultMap="resultListData">
		select DISTINCT cidx  from movieticket order by cidx
	</select>
	
	<!-- 날짜 리스트 -->
	<select id="dateList" resultMap="resultListData">
		select DISTINCT cdate from movieticket order by cdate
	</select>
	
	<!-- 극장별 날짜 리스트 -->
	<select id="byCinema" resultMap="resultListData">
		select DISTINCT cDate
		from movieticket where cidx=#{cidx} 
		order by cDate;
	</select>
	
	<!-- 날짜, 영화별 날짜 리스트 -->
	<select id="selectTimeList" resultMap="resultListData">
		select midx, time_format(ctime,'%H:%i') 'cTime', time_format(cTime+runningTime,'%H:%i') 'totalTime' 
		from movieticket where cidx=#{param1} and cDate=#{param2}
		order by cTime
	</select>
	
	<select id="ticketNum" resultType="int">
		select tidx from movieticket where cidx=#{param1} and cDate=#{param2} and cTime =#{param3}
	</select>
	
	<select id="seatPrint" resultType="int">
		select DISTINCT seatCnt from movieticket where cidx=#{cidx}
	</select>
	
	
</mapper>


 
 